@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap");

:root {
  --font-primary: "Lexend", sans-serif;
  --font-size-base: 16px;
  --line-height: 1.8; /* Cao hơn để dễ đọc tiếng Việt */
}

* {
  font-family: var(--font-primary);
}

body {
  font-size: var(--font-size-base);
  line-height: var(--line-height);
  font-weight: 400;
}
